* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: $primaryFont;
  color: $PaleBlue;
  box-sizing: border-box;
}

@mixin grid($colStart, $colEnd, $rowStart, $rowEnd, $bgColor) {
  grid-column-start: $colStart;
  grid-column-end: $colEnd;
  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;
  background-color: $bgColor;
  border-radius: 0.9em;
}

%relative {
  position: relative;
}

.container {
  max-width: 1440px;
  margin: auto;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Verydarkblue;
  min-height: 100vh;

  .grid {
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    .item1 {
      @include grid(1, 2, 1, 3, $Darkblue);
      min-height: 100%;
      display: flex;
      flex-direction: column;
      .btn-wrapper {
        display: flex;
        flex-direction: column;
        padding: $padding;
        gap: 1em;
        button {
          width: fit-content;
          border: none;
          background-color: transparent;
          font-size: 0.8em;
          &:hover {
            color: white;
          }
        }
      }
    }
    .item2 {
      @include grid(2, 3, 1, 2, $Lightred);
      @extend %relative;
    }
    .item3 {
      @include grid(3, 4, 1, 2, $Softblue);
      @extend %relative;
    }
    .item4 {
      @include grid(4, 5, 1, 2, $LightredStudy);
      @extend %relative;
    }
    .item5 {
      @include grid(2, 3, 2, 3, $Limegreen);
      @extend %relative;
    }
    .item6 {
      @include grid(3, 4, 2, 3, $Violet);
      @extend %relative;
    }
    .item7 {
      @include grid(4, 5, 2, 3, $Softorange);
      @extend %relative;
    }
  }
  .info {
    background-color: $Darkblue;
    padding: $padding;
    margin-top: 2em;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 0.5em;
    &:hover {
      background-color: $Desaturatedblue;
    }
    h3 {
      font-size: 0.85em;
      font-weight: 500;
      color: white;
    }
    :nth-child(2) {
      font-size: 2.5em;
      font-weight: 300;
      color: white;
      margin-top: 0.35em;
    }
    :nth-child(3) {
      font-size: 0.8em;
      font-weight: 300;
    }
    .info-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .icon {
        display: flex;
      }
    }
  }
  .info-main {
    background-color: $Blue;
    border-radius: 0.7em;
    padding: $padding;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    p {
      margin-top: 2em;
      font-size: 0.8em;
    }
    h1 {
      font-size: 2em;
      font-weight: 300;
      color: white;
    }
    img {
      width: 40%;
      border: 2px solid white;
      border-radius: 50%;
    }
  }
}
.bg-img {
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 5;
}
.active {
  color: white;
}

@media screen and (max-width: 860px) {
  .container {
    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10em 0;
      .item1 {
        width: 100%;
        .info-main {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 2em;
          .name {
            p {
              margin-top: 0;
            }
          }
          img {
            width: 30%;
            border-width: 5px;
          }
        }
        .btn-wrapper {
          flex-direction: row;
          justify-content: space-around;
          button {
            font-size: 1.5em;
          }
        }
      }
      .item2 {
        width: 100%;
      }
      .item3 {
        width: 100%;
      }
      .item4 {
        width: 100%;
      }
      .item5 {
        width: 100%;
      }
      .item6 {
        width: 100%;
      }
      .item7 {
        width: 100%;
      }
    }
  }
}
