* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: hsl(236deg, 100%, 87%);
  box-sizing: border-box;
}

.container .grid .item7, .container .grid .item6, .container .grid .item5, .container .grid .item4, .container .grid .item3, .container .grid .item2 {
  position: relative;
}

.container {
  max-width: 1440px;
  margin: auto;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(226deg, 43%, 10%);
  min-height: 100vh;
}
.container .grid {
  width: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.container .grid .item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 0.9em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container .grid .item1 .btn-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
}
.container .grid .item1 .btn-wrapper button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: transparent;
  font-size: 0.8em;
}
.container .grid .item1 .btn-wrapper button:hover {
  color: white;
}
.container .grid .item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: hsl(15deg, 100%, 70%);
  border-radius: 0.9em;
}
.container .grid .item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: hsl(195deg, 74%, 62%);
  border-radius: 0.9em;
}
.container .grid .item4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: hsl(348deg, 100%, 68%);
  border-radius: 0.9em;
}
.container .grid .item5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: hsl(145deg, 58%, 55%);
  border-radius: 0.9em;
}
.container .grid .item6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: hsl(264deg, 64%, 52%);
  border-radius: 0.9em;
}
.container .grid .item7 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: hsl(43deg, 84%, 65%);
  border-radius: 0.9em;
}
.container .info {
  background-color: hsl(235deg, 46%, 20%);
  padding: 1.5em;
  margin-top: 2em;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  gap: 0.5em;
}
.container .info:hover {
  background-color: hsl(235deg, 45%, 61%);
}
.container .info h3 {
  font-size: 0.85em;
  font-weight: 500;
  color: white;
}
.container .info :nth-child(2) {
  font-size: 2.5em;
  font-weight: 300;
  color: white;
  margin-top: 0.35em;
}
.container .info :nth-child(3) {
  font-size: 0.8em;
  font-weight: 300;
}
.container .info .info-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container .info .info-title .icon {
  display: flex;
}
.container .info-main {
  background-color: hsl(246deg, 80%, 60%);
  border-radius: 0.7em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container .info-main p {
  margin-top: 2em;
  font-size: 0.8em;
}
.container .info-main h1 {
  font-size: 2em;
  font-weight: 300;
  color: white;
}
.container .info-main img {
  width: 40%;
  border: 2px solid white;
  border-radius: 50%;
}

.bg-img {
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 5;
}

.active {
  color: white;
}

@media screen and (max-width: 860px) {
  .container .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em 0;
  }
  .container .grid .item1 {
    width: 100%;
  }
  .container .grid .item1 .info-main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .container .grid .item1 .info-main .name p {
    margin-top: 0;
  }
  .container .grid .item1 .info-main img {
    width: 30%;
    border-width: 5px;
  }
  .container .grid .item1 .btn-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
  .container .grid .item1 .btn-wrapper button {
    font-size: 1.5em;
  }
  .container .grid .item2 {
    width: 100%;
  }
  .container .grid .item3 {
    width: 100%;
  }
  .container .grid .item4 {
    width: 100%;
  }
  .container .grid .item5 {
    width: 100%;
  }
  .container .grid .item6 {
    width: 100%;
  }
  .container .grid .item7 {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */